*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: #1100ff;
    
}

.container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;

}

.card{

    width: 260px;
    height: 500px;
    background: red;
}

.card:hover{
    background-color: darkred;

}

