*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #222;
    font-family: poppins;
    background-image: url(icons/Design\ sem\ nome\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
}


@font-face {
    font-family: poppins;
    src: url(Poppins/Poppins-Medium.ttf);
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}


.info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    margin-top: 20px;
    border-radius: 20px;
    width: 70%;
    min-height: 500px;
    background-color: white;
}

.personagem fieldset{
    border-color: black;
    border-radius: 25px;
    border-width: 3px;
}

.personagem fieldset img{
    width: auto;
    height: 500px;
    border-radius: 25px;
}



