*{
    margin: 0px; padding: 0px; box-sizing: border-box;
}


.dados{
     font-family: cursive
     font-size: 30px;
}
    
.legendTxt{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

body{
    background-image: linear-gradient(rgb(0, 0, 0), rgb(255, 166, 0));
    background-repeat: no-repeat;
    background-size: cover;
}
