*{margin: 0px; padding: 0px; box-sizing: border-box}

@font-face{
    font-family: haikyuu;
    src: url(icons/dimitri/DIMITRI_.TTF);
}

@font-face {
    font-family: poppins;
    src: url(Poppins/Poppins-Medium.ttf);
}


.legendTxt{
    color: #ff9100;
    font-family: haikyuu;
    font-size: 20px;
}

.subt{
    color: #ff9100;
    font-family: poppins;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dados{
    
    color:rgb(0, 0, 0);
    font-size: 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px;
    min-height: 480px ;
    width: 60%;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    padding: 24px 36px;
    position: relative;
    margin-left: auto;
    margin-right: 350px;
    
    
    
}


.fieldborder{
    
    color: #ff9100;
    border-color: #ff9100;
    padding: 30px;
    border-radius: 25px;
    margin-left: auto;    
    min-height: 517px;
    width: 250px;   
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 5px;
    
 }

.fieldborder img{
    width: auto;
    height: 500px;
}

 body{
    background-image: url(icons/Design\ sem\ nome\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: poppins;
 }


 a{
    text-decoration: none;
    color: #ff9100;
    
 }