*{
    margin: 0px; padding: 0px; box-sizing: border-box;
}

@font-face{
    font-family: haikyuu;
    src: url(icons/dimitri/DIMITRI_.TTF);
}


.legendTxt{
    color: #ff9100;
    font-family: haikyuu;
    font-size: 40px;
    
}



.dados{

height: 100%;
color: white;
margin: 20px;

}
 p{
    font-size: 100px;
 }

 .fieldborder{
    
    color: #ff9100;
    border-color: #ff9100;
    padding: 10px;
    border-radius: 15px;
    height: 100%;  
    margin-left: auto;    
    height: 559px;
    width: 250px;
    background-image: url(icons/Perfil_Yu_Nishinoya.webp);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 100px;
 }
 
 body{
    background-color: rgb(90, 90, 90);
 }